
@{
    ViewBag.Title = "Index";
}

<h2>Filmoverzicht</h2>
<h3>Filter op dag</h3>
<table>

    @foreach (var film in ViewBag.Film)
    {
        <tr>
            <td>@film.Title</td>
            <td>@film.Id</td>
            <td>@Html.ActionLink("Meer info", "Detail", "Film", new { filmId = film.Id }, null)</td>
        </tr>
    }
</table>