@model IHffA7.Models.EditActivityViewModel

@Html.LabelFor(model => model.NewActivityId, "filmScreeiningsDropDown", htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-10">
    @Html.DropDownList("filmScreeiningsDropDown", null, htmlAttributes: new { @class = "form-control" })
</div>